.blog-articles-container {
    display: flex;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 100%;
}

.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    padding: 20px;
    width: 80%;
    margin: 0 auto;
}

.article {
    background: white;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    flex: 0 0 calc(30%);
    /* Убедитесь, что минимальная ширина меньше max-width */
    min-width: 250px; /* Минимальная ширина блока */
    max-width: 400px;
}

.article:hover {
    /* Увеличение тени для создания эффекта приподнятости */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);

    /* Небольшое увеличение размера элемента */
    transform: scale(1.05);

    /* Плавный переход для анимационных свойств */
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.article-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.article-content {
    padding: 15px;
}

.article-title {
    color: #0d83d3;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 20px; /* Меньший размер шрифта для мобильных */
    width: 100%;
}

.article-title:hover {
    text-decoration: underline;
    cursor: pointer;
}

.article-description {
    color: #666;
    margin-bottom: 40px; /* Уменьшенный отступ снизу для мобильных */
    font-size: 16px; /* Меньший размер шрифта */
    text-align: left;
}

@media (min-width: 768px) {
    .articles-container {
        justify-content: space-between;
    }

    .article {
        width: calc(33.333% - 20px);
        margin-top: 20px;
    }

    .blog-articles-container {
        margin-top: 40px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1500px) {
    .articles {
        width: 60%;
    }
}
