.how-it-works-container {
  background-color: white;
  padding: 60px 60px 120px;
  text-align: center;
}

.how-it-works-title {
  color: #3498db;
  margin-top: 40px;
  margin-bottom: 40px;
  font-size: 28px;
}

.how-it-works-description {
  color: #666;
  margin-bottom: 80px;
  font-size: 18px;
}
.cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  margin: 40px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  overflow: hidden; /* Обрезает контент, выходящий за границы рамки */
}

.card img {
  width: 100%;
  height: auto;
  display: block; /* Убираем пробел под изображением */
  margin-bottom: 40px;
}

.card-content {
  padding: 15px;
  text-align: left;
}

.card-content h3 {
  margin-top: 20px;
  color: #3498db;
}

.card-content p {
  margin-top: 20px;
  color: #666;
}
