@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #f8f8f8; /* Светлый фон для контраста с цветовой палитрой */
  color: #333; /* Основной цвет текста */
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color: #3498db; /* Основной цвет заголовков */
}

p {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

a {
  font-family: 'Open Sans', sans-serif;
  text-decoration: none;
  color: #3498db; /* Основной цвет ссылок */
  transition: color 0.3s;
}

a:hover {
  color: #4ecdc4; /* Цвет ссылок при наведении */
}

/* Стили для акцентных элементов */
.accent {
  color: #ff74c1; /* Акцентный розовый цвет */
}

.accent-bg {
  background-color: #ff74c1; /* Фоновый акцентный розовый цвет */
}

/* Установка курсора по умолчанию для всего содержимого сайта */
body, p, div, span, h1, h2, h3, h4, h5, h6 {
  cursor: default;
}

/* Стиль курсора для интерактивных элементов */
a, button, input, textarea, select {
  cursor: pointer;
}

