.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: linear-gradient(to right, #3498db, #4ecdc4);
  color: white;
}

.brand-name {
  font-weight: bold;
  font-size: 1.5rem; /* Увеличенный размер для лучшей видимости */
  color: #ff74c1; /* Яркий акцентный цвет */
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.4); /* Тень для добавления глубины и читаемости */
  padding: 5px 10px; /* Небольшой отступ для визуального разделения */
  border-radius: 8px; /* Скругление углов для мягкого вида */
  background: rgba(255, 255, 255, 0.2); /* Слабый фон для контраста с градиентом */
  transition: background-color 0.3s, color 0.3s; /* Плавный переход цвета и фона */
}

.brand-name:hover {
  background-color: rgba(255, 255, 255, 0.4); /* Изменение фона при наведении */
  color: #3498db; /* Изменение цвета текста при наведении */
}

.download-button {
  background-color: #ff74c1;
  padding: 8px 15px;
  border-radius: 5px;
  color: white;
  text-decoration: none;
  transition: background-color 0.3s;
}

.button-go-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

a.go {
  padding: 14px 60px;
  margin-top: 16px;
}

.download-button:hover {
  background-color: #f06292;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 60px 20px;
  background: linear-gradient(to right, #3498db, #4ecdc4); /* Обновленный градиентный фон */
  color: white;
  min-height: 600px;
}

.header-content {
  flex: 1;
  padding: 20px;
}

.title {
  font-size: 3rem; /* Увеличенный размер шрифта */
  color: #ffffff; /* Белый цвет для лучшей видимости */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Тень текста для улучшения читаемости */
  margin-bottom: 20px;
  animation: fadeInUp 1s ease-out;
}

.description {
  font-size: 1.2rem;
  animation: fadeInUp 1.5s ease-out;
  margin-bottom: 20px;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.header-image {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Обрезает содержимое, выходящее за границы */
}

.header-image img {
  max-width: 100%;
  height: auto;
  border-radius: 15px; /* Скругление углов изображения */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Тень для добавления глубины */
}
